<div class="app-layout" [class.fullscreen]="hideNav">
  @if (!hideNav) {
    <header class="app-header no-print">
      <p-menubar [model]="menuItems">
        <ng-template #start>
          <a routerLink="/" class="app-brand">
            <i class="pi pi-briefcase"></i>
            <span>Job Wars</span>
          </a>
        </ng-template>
        <ng-template #end>
          @if (balance$ | async; as balance) {
            <div class="currency-display">
              <div class="currency-item coins">
                <i class="pi pi-circle-fill"></i>
                <span>{{ balance.coins }}</span>
              </div>
              <div class="currency-item gems">
                <i class="pi pi-star-fill"></i>
                <span>{{ balance.gems }}</span>
              </div>
            </div>
          }
        </ng-template>
      </p-menubar>
    </header>
  }

  <main class="app-main">
    <router-outlet />
  </main>

  <p-toast position="top-right" />
</div>
